<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		<link rel="stylesheet" href="{{asset("styles/base.css")}}"> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}
		</head>
		<body>
			{% include "header/header.html.twig" %}
			{% block body %}
				<main>
					<div class="new-items-carrousel">
						<button class="carrousel-button">
							<div class="carrousel-arrow"></div>
						</button>
						
						<div class="carrousel-item-container">
							<div class="carrousel-items">
								{% for newFilm in news %}
									<div class="carrousel-item">
										<img src="{{newFilm.affiche}}"/>
										<h2>{{newFilm.titre}}</h2>
									</div>
								{% endfor %}
							</div>
							<div class="carrousel-indicators">
								<div class="carrousel-indicator active"></div>
								<div class="carrousel-indicator"></div>
								<div class="carrousel-indicator"></div>
								<div class="carrousel-indicator"></div>
								<div class="carrousel-indicator"></div>
							</div>
						</div>
						<button class="carrousel-button">
							<div class="carrousel-arrow reverse"></div>
						</button>
					</div>
				</main>
			{% endblock %}
			<script src="{{asset("scripts/base.js")}}"></script>
		</body>
	</html>
